

<div class="container mt-3">
  <h1>Islands</h1>
  <div class="cards">
    <% @islands.each do |island| %>
      <div class="card-trip">
        <%= cl_image_tag island.photo%>
        <div class="card-trip-infos">
          <div>
            <h2><%= island.name %></h2>
            <p><%= island.description %></p>
            <p><%= island.location %></p>
          </div>
          <h2 class="card-trip-pricing">$<%= island.price %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>

