

<body>

<div class="main-container">

  <div class="container-card-title">
  <div class="cards-title"><h1 ><%= Island.count %> Islands in <strong>Central America</strong> </h1></div>
  <div class="cards">
    <% @islands.each do |island| %>
      <%= link_to island_path(island) do %>
        <div class="card-trip">
          <%= cl_image_tag island.photo%>
          <div class="card-trip-infos">
            <div>
              <h2><%= island.name %></h2>
              <p><%= island.location %></p>
            </div>
            <h2 class="card-trip-pricing">$<%= island.price %></h2>
            <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div
  id="map"
  style="width: 100%;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


</div>

</body>


