

<body>
<div class="background">

<div class="wrapper">
  <h1 ><%= Island.count %> Islands in <strong>Central America</strong> </h1>
  <div class="cards">
    <% @islands.each do |island| %>
      <%= link_to island_path(island) do %>
        <div class="card-trip">
          <%= cl_image_tag island.photo%>
          <div class="card-trip-infos">
            <div>
              <h2><%= island.name %></h2>
              <p><%= island.location %></p>
              <p><%= island.description %></p>
            </div>
            <h2 class="card-trip-pricing">$<%= island.price %></h2>
            <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
</body>
