<div class="container mt-3">
  <div class="card-trip-large">
    <div class="d-flex justify-content-between mt-3 mb-3">
      <div>
        <h2><%= @island.name %></h2>
        <p> In the <%= @island.location %> </p>
      </div>
      <div>
        <a class="btn btn-flat mt-3" href="#">Book now</a>
      </div>
    </div>
      <%= cl_image_tag @island.photo %>

    <div class="price-description mt-3">
      <div class="trip-description">
        <h3>Description</h3>
        <p id="description-text"><%= @island.description %></p>
      </div>
      <p>$<%= @island.price %> per night</p>
    </div>
  </div>
</div>
